# Ignore node_modules and local Yarn cache
node_modules/
.yarn/cache/
.pnp.*

# Ignore logs and temporary files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore local environment files
.env
.env.local
.env.*.local

# Ignore build artifacts
dist/
build/
coverage/
.cache/

# Ignore build artifacts
**/dist/
**/build/
**/coverage/
**/.cache/

# Ignore Docker-related files (to avoid recursive copying)
.dockerignore
Dockerfile

# Ignore editor and OS-specific files
*.swp
*.swo
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml
